<h2>Hi <%= @customer.first_name %>!</h2>

<h3>These are your account details:</h3>

<label class="checkout_label">Customer number:</label> <%= @customer.id %></p>
<label class="checkout_label">First name:</label> <%= @customer.first_name %></p>
<label class="checkout_label">Last name:</label> <%= @customer.last_name %></p>
<label class="checkout_label">Email:</label> <%= @customer.email %></p>
<label class="checkout_label">Address:</label> <%= @customer.address%></p>

<%= link_to 'Edit', edit_customer_path(@customer), :class => "help-block" %>

<h3>These are your past orders:</h3>
<!-- List orders. Find orders with this customer ID and display Order ID, date, and order specifications-->

<!-- get table from project 1 -->

<table class="table">
  <tr>
    <th>Order number</th>
    <th>Date</th>
    <th>Products</th>


  </tr>
  <% @order_list.each do |order| %>
    <tr>
    <th><%= order.id %></th>
    <th><%= order.created_at.strftime('%d %B %Y') %></th>
    <th><%= order.products.first %></th>
  <%end%>
  </tr>
</table>



