<h2>Order summary</h2>

<label class="checkout_label">Customer number: </label><%= @customer.id %></p>
<label class="checkout_label">Name: </label><%= @customer.first_name %> <%= @customer.last_name %></p>
<label class="checkout_label">Address: </label><%= @customer.address %></p>


<%= form_tag order_path, method: :put do %>
	<button class='btn btn-primary'>Buy Now</button>
<% end %>
