<div class="container">
	<h2>Order summary</h2>
	<br>
	<div class="container">
		<label class="checkout_label">Customer number: </label><%= @customer.id %></p>
		<label class="checkout_label">Name: </label><%= @customer.first_name %> <%= @customer.last_name %></p>
		<label class="checkout_label">Address: </label><%= @customer.address %></p>
		<br>
	</div>
    <div class="container">
	    <table class="table">
	      <tr>
	        <th>Order number</th>
	        <th>Date</th>
	        <th>Top style</th>
	        <th>Cup print</th>
	        <th>Strap print</th>
	        <th>Top price</th>
	        <th>Bottom style</th>
	        <th>Bottom print</th>
	        <th>Bottom Price</th>
	        <th>Total Price</th>
	      </tr>

	      <tr>
	        <th><%= @order.id %></th>
	        <th><%= @order.created_at.strftime('%d %B %Y') %></th>
	        <th><%= @order.products.first.customisations.first.style.name.capitalize %></th>
	        <th><%= @order.products.first.customisations.first.print.name.capitalize %></th>
	        <th><%= @order.products.first.customisations[1].print.name.capitalize %></th>
	        <th>$<%= @order.products.first.price %>0</th>
	        <th><%= @order.products[1].customisations.first.style.name.capitalize %></th>
	        <th><%= @order.products[1].customisations.first.print.name.capitalize %></th>
	        <th>$<%= @order.products[1].price %>0</th>
	        <th>$<%= @order.total_price %>0</th>

	      </tr>
	    </table>
  


		<%= form_tag order_path, method: :put do %>
			<button class='btn btn-primary'>Submit order</button>
		<% end %>
	</div>
</div>