<h1>Listing customisations</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Part</th>
      <th>Print</th>
      <th>Style</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customisations.each do |customisation| %>
      <tr>
        <td><%= customisation.product_id %></td>
        <td><%= customisation.part_id %></td>
        <td><%= customisation.print_id %></td>
        <td><%= customisation.style_id %></td>
        <td><%= link_to 'Show', customisation %></td>
        <td><%= link_to 'Edit', edit_customisation_path(customisation) %></td>
        <td><%= link_to 'Destroy', customisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customisation', new_customisation_path %>
